REDMINE_DATABASE_TYPE={{ redmine_env_vars.REDMINE_DATABASE_TYPE }}
REDMINE_DATABASE_HOST={{ redmine_env_vars.REDMINE_DATABASE_HOST }}
REDMINE_DATABASE_PORT_NUMBER={{ redmine_env_vars.REDMINE_DATABASE_PORT_NUMBER }}
REDMINE_DATABASE_NAME={{ redmine_env_vars.REDMINE_DATABASE_NAME }}
REDMINE_DATABASE_USER={{ redmine_env_vars.REDMINE_DATABASE_USER }}
REDMINE_DATABASE_PASSWORD={{ redmine_env_vars.REDMINE_DATABASE_PASSWORD }}
